.menuButton, #reset{
  font-size: 1.5em;
  padding: 3%;
  margin-left: 0;
  margin-right: 0;
  color:black;
}

#totalBlock{
  font-size: 1.5em;
  padding: 3%;
  width: 100%;
  margin: auto;
  border-style: solid;
}

.divInputs{
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

.divInputs input{
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  float:right;

}

.divInputs h2{
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
}

#freezerDrop, #retarderDrop, #wrapDrop, #cabinet1Drop, #cabinet2Drop{
  display: none;
}

footer{margin-top:1%;}

h2{
  font-size: 1em!important;
  padding-top:2%!important;
}

h6{
  display: inline-block;
}

.patchLink{
  text-align: right;
}
