.menuButton, #reset{
  font-size: 2.5em;
  padding: 3%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  color:black;
}

.menuButton:nth-of-type(odd){
  background-color: #ffcece;
}

.menuButton:nth-of-type(even){
  background-color:#ffefef;
}

.total{
  font-size: 2.5em;
}

#totalBlock{
  background-color: #00cccc;
  padding: 3%;
  width: 100%;
  margin: auto;
}

.divInputs{
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

.divInputs input{
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;

  font-size: 2.5em;
  float:right;

}

.divInputs h2{
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 2.5em;
}

#freezerDrop, #retarderDrop, #wrapDrop, #cabinet1Drop, #cabinet2Drop{
  display: none;
}

#reset{
  background-color: #ff9999;
  color:black;
}

footer{
  margin-top:1%;
}
