.menuButton, #reset{
  display: block;
  border-radius: .5em;
  font-size: 3em;
  padding: 5%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  color:black;
}

.menuButton:nth-of-type(odd){
  background-color: #ffcece;
}

.menuButton:nth-of-type(even){
  background-color:#ffefef;
}

.total{
  font-size: 3em;
}

#totalBlock{
  background-color: #00cccc;
  border-radius: .9em;
  padding: 2%;
  width: 96%;
  margin: auto;
}

.divInputs{
  display: flex;
  margin-top: 1%;
}

.divInputs input{
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 3em;
  float:right;
}

.divInputs h2{
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 3em;
}

#freezerDrop{
  display: none;
}

#retarderDrop{
  display: none;
}

#wrapDrop{
  display: none;
}

#cabinet1Drop{
  display: none;
}

#cabinet2Drop{
  display: none;
}

#reset{
  background-color: #ff9999;
  color:black;
}

html{
  background-color: #e8f4ff;
}
